
.Link{
    padding-left: 5px;
    padding-right: 5px;
}

.ThirdDiv{
    margin: auto;
    width: 50%;
    border: 9px solid black;
    text-align: center;
}
 .FourthDiv{
    padding: 30px;
    background-color: red;
 }

 .FifthDiv{
     background-color: white;
     border: 2px solid black;
     padding: 5px;
 }

 .SecondDiv{
    margin: auto;
    width: 50%;
    padding-top: 1%;
 }

 .Img{
        max-width: 70%;
        max-height: 90%;
        display: block;
        margin: 0 auto;
    
 }

 