.Encase {
	box-sizing: border-box;
	margin: auto;
	margin-left: 17%;
	max-width: 70%;
	padding: 5px
}

.Divencase {
	padding: 5px;
	border-style: solid;
	border-width: 1px;
	align-items: center;
	box-shadow: 1px 1px 1px gray;
	border-color: grey;

}

.Name {
	text-transform: capitalize;
	text-align: center;
}

.ImageStyling {
	max-width: 90px;
	max-height: 90px;
	min-width: 90px;
	min-height: 90px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
  	width: 50%;

}

@media(min-width: 500px){
	.Encase {
		box-sizing: border-box;
		margin: auto;
		margin-left: 17%;
		
		max-width: 70%;
		padding: 10px
	}
	
	.Divencase {
		display: inline-grid;
		padding: 30px;
		border-style: solid;
		border-width: 1px;
		align-items: center;
		box-shadow: 1px 1px 1px gray;
		border-color: grey;
	
	}
	
	.Name {
		text-transform: capitalize;
	}
	
	.ImageStyling {
		max-width: 90px;
		max-height: 90px;
		min-width: 90px;
		min-height: 90px;
	}
}

