.Name {
    text-transform: capitalize;
    text-align: center;
}

.Text {
    text-align: center;
}

.ID {
    text-align: center;
}

.ImageStyling {
	max-width: 100px;
    max-height: 100px;
    padding: 20px;
}

.Favorite {
    float: top;
}

.ImageDiv {
    text-align: center;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 20px;
    margin-bottom: 5px;

}
